@use "../utils/mixins" as *;
.description {
  background-color: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  gap: 30px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    paddiong-bottom: 45px;
  }
  @include desktop {
    flex-wrap: nowrap;
    padding-top: 94px;
    padding-bottom: 30px;
    list-style: none;
  }
  &__item {
    display: inline-block;
    justify-content: space-between;
    text-align: left;
    width: 450px;
    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
  &__logo {
    display: flex;
    padding: 25px 190px;
    border-radius: 4px;
    background-color: var(--background-icon-light);
    @include tablet {
      padding: 25px 142px;
    }
    @include desktop {
      padding: 25px 100px;
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  &__title {
    font-weight: var(--medium-weight);
    font-size: var(--font-size-primary);
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    @include tablet {
      text-align: left;
    }
  }
  &__post {
    display: flex;
    text-align: left;
    font-size: var(--font-size-primary);
    line-height: 1.7;
    color: var(--color-font-mixed);
    letter-spacing: 0.03em;
  }
}
