@use "../utils/mixins" as *;
.header {
  border-bottom: 1px solid var(--border-connecting);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @include tablet {
       justify-content: space-between;
    }
  }

  &__menu {
    display: flex;
    @include tablet {
      gap: 83px;
      align-items: center;
    }
    @include desktop {
      gap: 93px;
    }
  }
}
