@use "../utils/mixins" as *;
.logos {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 30px;
  fill: 1px solid var(--color-font-secondary);
  @include desktop {
    flex-wrap: nowrap;
    padding-bottom: 94px;
  }

  &__icon {
    border: 1px solid var(--color-icon-secondary);
    border-radius: 4px;
    padding: 16px 52px;
    width: 210px;
    @include tablet {
      padding: 16px 60px;
      width: 226px;
    }
    @include desktop {
      padding: 16px 32px;
      width: 170px;
    }

    &:hover,
    &:focus {
      fill: var(--color-icon-hover);
      border: 1px solid var(--color-icon-hover);
    }
  }
  &__item {
    display: flex;
    fill: var(--color-icon-secondary);
    cursor: pointer;
  }
}
