@use "../utils/mixins" as *;
.section {
  background: var(--color-background-primary);

  &--background-primary {
    background: var(--color-background-secondary-opasity);
    background-image: linear-gradient(
        to top left,
        var(--color-gradient-primary),
        var(--color-gradient-primary)
      ),
      url("/goit-markup-hw-08/images/backgroundphoto/maintitle480x400x1mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tablet {
      background-image: url("/goit-markup-hw-08/images/backgroundphoto/maintitle768x400x1tablet.jpg");
    }
    @include desktop {
      background-image: url("/goit-markup-hw-08/images/backgroundphoto/maintitlep1x1600x600x1desktop.jpg");
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    &--background-primary {
      background-image: url("/goit-markup-hw-08/images/backgroundphoto/maintitle960x800x2mobile.jpg");
      background-size: cover;
      @include tablet {
        background-image: url("/goit-markup-hw-08/images/backgroundphoto/maintitle1536x800x2tablet.jpg");
        background-size: cover;
      }
      @include desktop {
        background-image: url("/goit-markup-hw-08/images/backgroundphoto/maintitlep1x3200x1200x2desktop.jpg");
        background-size: cover;
      }
    }
  }

  &--backgroung-secoundary {
    background: var(--color-background-light);
  }

  &__title {
    font-weight: var(--medium-weight);
    font-size: var(--font-size-center);
    line-height: 1.1;
    text-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 30px;
    @include desktop {
      padding-top: 94px;
      padding-bottom: 50px;
    }
    &--display {
      display: none;
      @include desktop {
        display: block;
        align-items: center;
        font-size: var(--font-size-senary);
      }
    }
    &--size {
      @include desktop {
        font-size: var(--font-size-senary);
      }
    }
  }
}
