:root {
  --primary-family: "Roboto", sans-serif;
  --secondary-family: Raleway;
  --global-weight: 400;
  --small-weight: 500;
  --medium-weight: 700;
  --big-weight: 900;
  --color-font-primary: #212121;
  --color-font-strong: #000000;
  --color-font-hover: #2196f3;
  --color-font-mixed: #757575;
  --color-font-secondary: #ffffff;
  --color-font-tertiary: #ffffff99;
  --color-font-quaternary: #75757580;
  --primary-style: normal;
  --color-background-hover: #2196f3;
  --color-background-primary: #ffffff;
  --color-background-secondary: #2f303a;
  --color-background-light: #f5f4fa;
  --background-hover-transparency: #2196f3e6;
  --background-transparency-cloud: #2f303acc;
  --background-icon-light: #f5f4fa;
  --color-background-unique: #7fffd4;
  --color-background-backdrop: #00000033;
  --border-connecting: #ececec;
  --color-border-primary: #eeeeee;
  --color-border-tertiary: #ffffff4d;
  --color-border-quaternary: #2196f3;
  --color-border-quinary: #0000001a;
  --color-border-senary: #21212133;
  --font-size-s: 12px;
  --font-size-primary: 14px;
  --font-size-secondary: 16px;
  --font-size-tertiary: 18px;
  --font-size-quaternary: 20px;
  --font-size-l: 26px;
  --font-size-senary: 36px;
  --font-size-septenary: 44px;
  --color-box-shadow-primary: #00000008;
  --color-box-shadow-secondary: #00000010;
  --color-box-shadow-tertiary: #00000012;
  --color-box-shadow-quaternary: #00000006;
  --color-box-shadow-quinary: #00000016;
  --color-box-shadow-senary: #00000026;
  --color-box-shadow-septenary: #00000014;
  --color-box-shadow-octonary: #00000020;
  --color-drop-shadow-primary: #00000026;
  --color-icon-hover: #2196f3;
  --color-icon-primary: #ffffff;
  --color-icon-secondary: #afb1b8;
  --color-icon-tertiary: #ffffff1a;
  --color-icon-quaternary: #000000;
  --color-icon-quinary: #212121;
  --color-gradient-primary: #2f303a40;
}
